FitnessTrackerMVVMSwitching/bin
FitnessTrackerMVVMSwitching/obj
.vs
packages
.vs/FitnesstrackerMVVMSwitching/v16/.suo
.vs/FitnesstrackerMVVMSwitching/v16/.suo
*.cache
.vs/FitnesstrackerMVVMSwitching/v16/.suo
*.cache
*.baml
FitnesstrackerMVVMSwitching/obj/Debug/Views/TrainingssessionView.g.i.cs
FitnesstrackerMVVMSwitching/obj/Debug/Views/TrainingssessionView.g.cs
